<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Витрина товаров</title>
    <link rel="stylesheet" th:href="@{/static/css/styles.css}">
</head>
<body>
<form method="GET" th:action ="@{/posts/add}">
    <button style="float:right;">ДОБАВИТЬ ПОСТ</button>
</form>

<table style="width:50%;margin-left:auto;margin-right:auto;">
    <tr>
        <td>
            <form method="GET" th:action="@{/posts}">
                <p>
                    <label for="search">Найти по тегу: </label>
                    <input id="search" style="width:300px;" name="tag" th:value="${tag} ?: ''">
                    <button name="action">🔍</button>
                </p>
                <p>
                    <label for="pageSize">Число постов: </label>
                    <select id="pageSize" name="size" onchange="this.form.submit()">
                        <option value="5" th:selected="${pageSize == 5}">5</option>
                        <option value="10" th:selected="${pageSize == 10}">10</option>
                        <option value="20" th:selected="${pageSize == 20}">20</option>
                        <option value="50" th:selected="${pageSize == 50}">50</option>
                        <option value="100" th:selected="${pageSize == 100}">100</option>
                    </select>
                </p>
                <p>
                    <button th:if="${currentPage > 1}" name="page" th:value="${currentPage - 1}"><</button>
                    <span th:text="${currentPage}"></span>
                    <button th:if="${posts.size() == pageSize}" name="page" th:value="${currentPage + 1}">></button>
                </p>
            </form>
        </td>
    </tr>
    <tr th:each="post : ${posts}">
        <td style="border-bottom:thin solid;">
            <a th:href="@{/posts/{id}(id=${post.id})}">
                <h2 th:text="${post.title}"></h2>
            </a>
            <p>
                <a th:href="@{/posts/{id}(id=${post.id})}">
                    <img height="300" th:src="@{${post.imageUrl} ?: '/static/images/placeholder.jpg'}">
                </a>
            </p>
            <p th:text="${#strings.abbreviate(post.content, 200)}"></p>
            <p>
                <span th:text="'Лайков: ' + ${post.likes}"></span>
                <span th:text="' Комментариев: ' + ${post.getComments().size()}"></span>
            </p>
            <p>
                <span th:each="tag : ${post.tags}" th:text="${tag.name} + ' '"></span>
            </p>
        </td>
    </tr>
</table>

</body>
</html>